version: '2.3'

networks:
  integration-tests:
    driver: bridge

services:
  cluster-1-node-0:
    image: cassandra:3.11.8
    mem_limit: 512m
    memswap_limit: 512m
    mem_swappiness: 0
    environment:
      CASSANDRA_CLUSTER_NAME: cluster-1
      CASSANDRA_NUM_TOKENS: 32
      LOCAL_JMX: "no"
      MAX_HEAP_SIZE: 256M
      HEAP_NEWSIZE: 64M
      CASSANDRA_LISTEN_ADDRESS: cluster-1-node-0
      CASSANDRA_BROADCAST_ADDRESS: cluster-1-node-0
      CASSANDRA_RPC_ADDRESS: cluster-1-node-0
      CASSANDRA_SEEDS: cluster-1-node-0,cluster-1-node-1
    volumes:
      - ./data/cassandra/cluster-1/cluster-1-node-0:/var/lib/cassandra
      - ./data/jmxremote.access:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/management/jmxremote.access
      - ./data/jmxremote.password:/etc/cassandra/jmxremote.password
    networks:
      - integration-tests

  cluster-1-node-1:
    image: cassandra:3.11.8
    mem_limit: 512m
    memswap_limit: 512m
    mem_swappiness: 0
    environment:
      CASSANDRA_CLUSTER_NAME: cluster-1
      CASSANDRA_NUM_TOKENS: 32
      LOCAL_JMX: "no"
      MAX_HEAP_SIZE: 256M
      HEAP_NEWSIZE: 64M
      CASSANDRA_LISTEN_ADDRESS: cluster-1-node-1
      CASSANDRA_BROADCAST_ADDRESS: cluster-1-node-1
      CASSANDRA_RPC_ADDRESS: cluster-1-node-1
      CASSANDRA_SEEDS: cluster-1-node-0,cluster-1-node-1
    volumes:
      - ./data/cassandra/cluster-1/cluster-1-node-1:/var/lib/cassandra
      - ./data/jmxremote.access:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/management/jmxremote.access
      - ./data/jmxremote.password:/etc/cassandra/jmxremote.password
    networks:
      - integration-tests

  cluster-2-node-0:
    image: cassandra:3.11.8
    mem_limit: 512m
    memswap_limit: 512m
    mem_swappiness: 0
    environment:
      CASSANDRA_CLUSTER_NAME: cluster-2
      CASSANDRA_NUM_TOKENS: 32
      LOCAL_JMX: "no"
      MAX_HEAP_SIZE: 256M
      HEAP_NEWSIZE: 64M
      CASSANDRA_LISTEN_ADDRESS: cluster-2-node-0
      CASSANDRA_BROADCAST_ADDRESS: cluster-2-node-0
      CASSANDRA_RPC_ADDRESS: cluster-2-node-0
      CASSANDRA_SEEDS: cluster-2-node-0,cluster-2-node-1
    volumes:
      - ./data/cassandra/cluster-2/cluster-2-node-r02:/var/lib/cassandra
      - ./data/jmxremote.access:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/management/jmxremote.access
      - ./data/jmxremote.password:/etc/cassandra/jmxremote.password
    networks:
      - integration-tests

  cluster-2-node-1:
    image: cassandra:3.11.8
    mem_limit: 512m
    memswap_limit: 512m
    mem_swappiness: 0
    environment:
      CASSANDRA_CLUSTER_NAME: cluster-2
      CASSANDRA_NUM_TOKENS: 32
      LOCAL_JMX: "no"
      MAX_HEAP_SIZE: 256M
      HEAP_NEWSIZE: 64M
      CASSANDRA_LISTEN_ADDRESS: cluster-2-node-1
      CASSANDRA_BROADCAST_ADDRESS: cluster-2-node-1
      CASSANDRA_RPC_ADDRESS: cluster-2-node-1
      CASSANDRA_SEEDS: cluster-2-node-0,cluster-2-node-1
    volumes:
      - ./data/cassandra/cluster-2/cluster-2-node-1:/var/lib/cassandra
      - ./data/jmxremote.access:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/management/jmxremote.access
      - ./data/jmxremote.password:/etc/cassandra/jmxremote.password
    networks:
      - integration-tests

  cluster-3-node-0:
    image: cassandra:3.11.8
    mem_limit: 512m
    memswap_limit: 512m
    mem_swappiness: 0
    environment:
      CASSANDRA_CLUSTER_NAME: cluster-3
      CASSANDRA_NUM_TOKENS: 32
      LOCAL_JMX: "no"
      MAX_HEAP_SIZE: 256M
      HEAP_NEWSIZE: 64M
      CASSANDRA_LISTEN_ADDRESS: cluster-3-node-0
      CASSANDRA_BROADCAST_ADDRESS: cluster-3-node-0
      CASSANDRA_RPC_ADDRESS: cluster-3-node-0
      CASSANDRA_SEEDS: cluster-3-node-0
    volumes:
      - ./data/cassandra/cluster-3/cluster-3-node-0:/var/lib/cassandra
      - ./data/jmxremote.access:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/management/jmxremote.access
      - ./data/jmxremote.password:/etc/cassandra/jmxremote.password
    networks:
      - integration-tests

  reaper:
    image: thelastpickle/cassandra-reaper:2.2.1
    environment:
      REAPER_STORAGE_TYPE: memory
      REAPER_JMX_PORTS: "{cassandra1: 7199, cassandra2: 7199}"
      REAPER_JMX_AUTH_USERNAME: reaperUser
      REAPER_JMX_AUTH_PASSWORD: reaperPass
      REAPER_AUTH_ENABLED: "false"
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ./data/reaper:/var/log/cassandra-reaper
    networks:
      - integration-tests
